<% provide(:title, "About") %>
<div class='col-md-offset-2 col-md-10'>
  <h2>About this website</h2>
  <div class='col-md-5'>
    <p>
      The time is now <%= Time.now %>
    </p>
    <h3>
      This website was built in order to learn more about how to create a web application using fullstack range of tools.
    </h3>
    <h3>
      This website was built in order to learn more about how to create a web application using fullstack range of tools.
    </h3>
    <h3>
      This website was built in order to learn more about how to create a web application using fullstack range of tools.
    </h3>
    <h3>
      This website was built in order to learn more about how to create a web application using fullstack range of tools.
    </h3>
    <h3>
      This website was built in order to learn more about how to create a web application using fullstack range of tools.
    </h3>
    <h3>
      This website was built in order to learn more about how to create a web application using fullstack range of tools.
    </h3>    
  </div>
</div>

