<div class='col-md-offset-2 col-md-10'>
  <h2>Welcome to the website</h2>
  <div class='col-md-5'>
    <p>
      The time is now <%= Time.now %>
    </p>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="public/assets/bigSlide.js"></script>

