<footer id="footer" class="col-md-12">
  <div class = "container">
    <nav id="main-footer">
      <ul class = 'col-md-8 col-md-offset-2 list-group list-unstyled'>
        <li class = 'list-group-item'><%= link_to "About",   about_path %></li>
        <li class = 'list-group-item'><%= link_to "Contact", contact_path %></li>
        <li class = 'list-group-item'><a href="http://news.railstutorial.org/">News</a></li>
      </ul>
    </nav>
    <small class="row col-md-offset-2 col-md-2">
      <a href="http://railstutorial.org/">Rails Tutorial</a>
      by Michael Hartl
    </small>
  </div>
</footer>