<header>
  <div class='container'> 
    <div class='row col-md-12'>
      <%= link_to "sample app", root_path, id: "logo" %>
      <%= link_to(image_tag("heart.png", :alt => "logo", :title => "Home", id: "logo"), "/") %>
      <br>
      <a href="#menu" class="menu-link">Menu &#9776;</a>
    </div>
    <nav id="menu" class="panel" role="navigation">
      <ul class = 'nav nav-list'>
          <li class = 'list-group-item nav-header'>Menu items</li>
          <li><a href=".">Home</a></li>
          <li><a href="./pictures">Pictures</a></li>
          <li><a href="#">Thirteen</a></li>
          <li><a href="#">SThe Ballad of El Goodo</a></li>
          <li><a href="login">Login</a></li>
      </ul>
    </nav>
  </div>
</header>
